# Les gaz à effet de serre au Québec
---

<div style="text-align: center;">
    <img src="./img/_cc50555b-1857-4a03-a71b-744befcfb323.jpeg" alt="Drawing" style="width: 300px;"/>
</div>

Les données de l'inventaire québécois des émissions de gaz à effet de serre, sont disponibles chez [Données Québec](https://www.donneesquebec.ca/recherche/dataset/inventaire-quebecois-des-emissions-de-gaz-a-effet-de-serre "https://www.donneesquebec.ca/recherche/dataset/inventaire-quebecois-des-emissions-de-gaz-a-effet-de-serre"):

> "L’inventaire des émissions de gaz à effet de serre (GES) produits par l’activité humaine au Québec est tenu à jour annuellement depuis 1990 
par le ministère de l’Environnement, de la Lutte contre les changements climatiques, de la Faune et des Parcs. Cet inventaire est établi à partir de données recueillies auprès d’entreprises et d’institutions et se base sur des données obtenues principalement de Statistique Canada, d’Environnement et Changement climatique Canada (ECCC) et de ministères et organismes du Québec." 

Dernière modification du jeux de données pour ce notebook : 2022-12-21

---
# Objectifs:

L'objectif de ce notebook est d'utiliser la méthode `groupby`
 relative aux dataframes afin d'obtenir le total des GES émis par secteur d'activité.

---
# Importation des données

Afin de lire et d'explorer les données, nous utilisons la librairie pandas avec toutes les fonctionnalités des Dataframes.

In [218]:
# Initialisation de la librairie Pandas.
import pandas as pd

# Importation des données. Le fichier csv (coma-separated-value) se nomme "inventaire-ges.csv" 
# et les données sont séparées par des points-virgules (;).
df = pd.read_csv('./fichiers_input/inventaire-ges.csv',sep = ';')
df

,Annee,Secteur,Sous-secteur,Categorie,Emissions(t_eq_CO2)
0,1990,Transports,Transport routier,Automobiles,1.085804e+07
1,1990,Transports,Transport routier,Camions légers,3.636960e+06
2,1990,Transports,Transport routier,Véhicules lourds,3.602432e+06
3,1990,Transports,Transport routier,Autres transports routiers,1.824648e+04
4,1990,Transports,Autres transports,Véhicules hors route - Agriculture et foresterie,9.985400e+05
...,...,...,...,...,...
1445,2020,Matières résiduelles,Lieux d'enfouissement réservés aux usines de p...,Lieux d'enfouissement réservés aux usines de p...,6.994292e+04
1446,2020,Matières résiduelles,Traitement biologique des matières résiduelles,Traitement biologique des matières résiduelles,7.126235e+04
1447,2020,Matières résiduelles,Traitement et rejet des eaux usées municipales,Traitement et rejet des eaux usées municipales,4.134772e+05
1448,2020,Matières résiduelles,Incinération des matières résiduelles,Incinération des matières résiduelles,2.124926e+05
1449,2020,Électricité,Électricité,Centrales thermiques publiques,2.290484e+05

---
# Informations de base sur le jeu de données:

Pour bien comprendre les données dans un DataFrame pandas, vous devez examiner plusieurs aspects clés pour en tirer le meilleur parti. Voici une liste d'informations de base à prendre en compte :

1. La structure du DataFrame :
   - Le nombre de lignes (observations) et de colonnes (variables) dans le DataFrame.
   - Les noms des colonnes, qui représentent les différentes variables.


2. Les types de données :
   - Vérifiez les types de données de chaque colonne à l'aide de `dtypes` pour vous assurer qu'ils sont corrects.

3. Les valeurs uniques :
   - Pour comprendre la variabilité des données catégoriques, utilisez `unique()` pour obtenir les valeurs uniques d'une colonne.

```python
df['colonne'].unique()
```

4. Les données manquantes :
   - Utilisez `isna()` ou `isnull()` pour identifier les données manquantes dans le DataFrame.

```python
df.isna().sum()
```

In [140]:
# Le nombre de ligne (rows) et de colonne (columns) est: 
df.shape

(1450, 5)

In [64]:
# Le nom des colonnes. Sous forme d'une array numpy. 
df.columns

Index(['Annee', 'Secteur', 'Sous-secteur', 'Categorie', 'Emissions(t_eq_CO2)'], dtype='object')

In [78]:
# Le nom des colonnes, sous forme d'une liste normale.
df.columns.tolist()

['Annee', 'Secteur', 'Sous-secteur', 'Categorie', 'Emissions(t_eq_CO2)']

In [87]:
# Le types de variables dans chaque colonne: 
df.dtypes

Annee                    int64
Secteur                 object
Sous-secteur            object
Categorie               object
Emissions(t_eq_CO2)    float64
dtype: object

In [88]:
# L'index du dataframe: 
df.index

RangeIndex(start=0, stop=1450, step=1)

In [66]:
# Pour travailler les éléments d'une seule colonne, il faut travailler avec les Séries:
df['Annee'];

In [184]:
# Élements uniques de la colonne Secteur. Sous forme d'une liste normale.
secteurs = df['Secteur'].unique().tolist()
secteurs

['Transports',
 'Industries',
 'Résidentiel, commercial et institutionnel',
 'Agriculture',
 'Matières résiduelles',
 'Électricité']

In [62]:
# Élements uniques de la colonne Sous-secteur. Sous forme d'une liste normale.
df['Sous-secteur'].unique().tolist();

In [61]:
# Élements uniques de la colonne 'Categorie'. Sous forme d'une liste normale.
df['Categorie'].unique().tolist();

In [215]:
# Élements absents
df.isna().sum()

Annee                  0
Secteur                0
Sous-secteur           0
Categorie              0
Emissions(t_eq_CO2)    0
dtype: int64

In [216]:
df.isnull().sum()

Annee                  0
Secteur                0
Sous-secteur           0
Categorie              0
Emissions(t_eq_CO2)    0
dtype: int64

---
# Constructions de la nouvelle dataframe: 

Les étapes pour construire df_secteurs_total sont:

---
## Construction 1: obtention du total par année:

In [159]:
df[['Annee','Emissions(t_eq_CO2)']]

      Annee  Emissions(t_eq_CO2)
0      1990         1.085804e+07
1      1990         3.636960e+06
2      1990         3.602432e+06
3      1990         1.824648e+04
4      1990         9.985400e+05
...     ...                  ...
1445   2020         6.994292e+04
1446   2020         7.126235e+04
1447   2020         4.134772e+05
1448   2020         2.124926e+05
1449   2020         2.290484e+05

[1450 rows x 2 columns]

In [160]:
df[['Annee','Emissions(t_eq_CO2)']].groupby('Annee')

In [131]:
df_total = df[['Annee','Emissions(t_eq_CO2)']].groupby('Annee').sum()
df_total;

In [161]:
df_total.columns

Index(['Emissions(t_eq_CO2)'], dtype='object')

In [174]:
df_total = df_total.rename(columns={"Emissions(t_eq_CO2)": "Emissions(t_eq_CO2)-Total"})

In [175]:
df_total.describe()

       Emissions(t_eq_CO2)-Total
count               3.100000e+01
mean                8.276538e+07
std                 3.345179e+06
min                 7.401563e+07
25%                 8.100227e+07
50%                 8.274214e+07
75%                 8.462749e+07
max                 8.958743e+07

In [210]:
# df_total.plot()

---
## Construction 2: obtention du total par année pour le secteur 'Transports':

In [202]:
#Pour les transports seulement
df_transports = df[df['Secteur']=='Transports']
df_transports_total = df_transports[['Annee','Emissions(t_eq_CO2)']].groupby('Annee').sum()
df_transports_total = df_transports_total.rename(columns={"Emissions(t_eq_CO2)": "Emissions(t_eq_CO2)-Transports"})
df_transports_total;

In [206]:
df_merge = pd.merge(df_total, df_transports_total, on=["Annee"])
# df_merge

In [208]:
df_merge = df_total.merge(df_transports_total,on=["Annee"])
# df_merge

---
## Construction 3: obtention du total par année pour tous les secteurs:

In [191]:
secteurs

['Transports',
 'Industries',
 'Résidentiel, commercial et institutionnel',
 'Agriculture',
 'Matières résiduelles',
 'Électricité']

In [201]:
# Initialisation du DataFrame résultant avec le premier DataFrame
df_secteurs_total = df_total

for secteur in secteurs:
    df_secteur = df[df['Secteur']==secteur]
    df_secteur_total = df_secteur[['Annee','Emissions(t_eq_CO2)']].groupby('Annee').sum()
    df_secteur_total = df_secteur_total.rename(columns={"Emissions(t_eq_CO2)": f'Emissions(t_eq_CO2)-{secteur}'})
    df_secteurs_total = df_secteurs_total.merge(df_secteur_total, on=["Annee"])

df_secteurs_total

,Emissions(t_eq_CO2)-Total,Emissions(t_eq_CO2)-Transports,Emissions(t_eq_CO2)-Industries,"Emissions(t_eq_CO2)-Résidentiel, commercial et institutionnel",Emissions(t_eq_CO2)-Agriculture,Emissions(t_eq_CO2)-Matières résiduelles,Emissions(t_eq_CO2)-Électricité
Annee,,,,,,,
1990,8.525046e+07,2.720549e+07,3.207667e+07,1.121535e+07,7.117844e+06,6.242370e+06,1.392747e+06
1991,8.096232e+07,2.562506e+07,3.114813e+07,1.048791e+07,6.986795e+06,6.356778e+06,3.576496e+05
1992,8.011936e+07,2.617208e+07,2.946168e+07,1.119121e+07,6.920532e+06,5.544630e+06,8.292302e+05
1993,8.131694e+07,2.710587e+07,3.049741e+07,1.131267e+07,6.845626e+06,5.414277e+06,1.410925e+05
1994,8.274214e+07,2.846825e+07,3.057562e+07,1.130135e+07,6.903481e+06,5.293982e+06,1.994636e+05
1995,8.293150e+07,2.888283e+07,3.013029e+07,1.125606e+07,6.973976e+06,5.541953e+06,1.463866e+05
1996,8.298410e+07,2.905895e+07,3.003876e+07,1.159712e+07,7.075151e+06,5.082511e+06,1.316073e+05
1997,8.383858e+07,2.978185e+07,3.030741e+07,1.134331e+07,7.309203e+06,4.913877e+06,1.829265e+05
1998,8.517211e+07,3.046314e+07,3.054083e+07,1.013746e+07,7.413943e+06,5.058890e+06,1.557845e+06
1999,8.465540e+07,3.104853e+07,2.894797e+07,1.049810e+07,7.522661e+06,5.699894e+06,9.382496e+05
2000,8.459958e+07,3.082622e+07,2.938767e+07,1.164859e+07,7.347982e+06,5.057469e+06,3.316392e+05
2001,8.247052e+07,3.024779e+07,2.818682e+07,1.084302e+07,7.602759e+06,5.223678e+06,3.664495e+05
2002,8.410860e+07,3.090352e+07,2.849923e+07,1.151531e+07,7.682461e+06,5.272380e+06,2.356938e+05
2003,8.958743e+07,3.287521e+07,2.935429e+07,1.280374e+07,7.602666e+06,5.441654e+06,1.509874e+06
2004,8.904113e+07,3.321847e+07,2.947197e+07,1.237756e+07,7.891072e+06,4.826596e+06,1.255463e+06
2005,8.621064e+07,3.316216e+07,2.874145e+07,1.116592e+07,7.729128e+06,5.034448e+06,3.775383e+05
2006,8.514679e+07,3.307063e+07,2.912965e+07,9.894077e+06,7.728588e+06,5.110266e+06,2.135712e+05
2007,8.898720e+07,3.433262e+07,3.087027e+07,1.028535e+07,7.929902e+06,5.319508e+06,2.495480e+05
2008,8.458937e+07,3.450789e+07,2.758578e+07,9.296912e+06,7.859978e+06,5.105396e+06,2.334104e+05
2009,8.344091e+07,3.409714e+07,2.621085e+07,9.990479e+06,7.808115e+06,4.952334e+06,3.819920e+05
2010,8.126163e+07,3.401616e+07,2.546223e+07,9.018179e+06,7.824282e+06,4.733105e+06,2.076752e+05
2011,8.191538e+07,3.530230e+07,2.529553e+07,8.705855e+06,7.795096e+06,4.601622e+06,2.149811e+05
2012,8.020507e+07,3.468167e+07,2.540546e+07,7.517757e+06,7.907737e+06,4.485130e+06,2.073191e+05
2013,7.986842e+07,3.417136e+07,2.539231e+07,7.654704e+06,7.987980e+06,4.447976e+06,2.140966e+05
2014,7.837373e+07,3.267267e+07,2.535419e+07,7.923847e+06,7.771819e+06,4.429153e+06,2.220564e+05
2015,7.854424e+07,3.335087e+07,2.438307e+07,8.060023e+06,7.860339e+06,4.695534e+06,1.944028e+05
2016,7.851176e+07,3.367475e+07,2.347945e+07,8.198808e+06,7.900278e+06,5.032629e+06,2.258436e+05
2017,8.111818e+07,3.561482e+07,2.450676e+07,8.162234e+06,7.821708e+06,4.783654e+06,2.290030e+05
2018,8.104221e+07,3.568920e+07,2.449669e+07,8.051767e+06,7.919519e+06,4.649875e+06,2.351650e+05
2019,8.271558e+07,3.646536e+07,2.514983e+07,8.304411e+06,7.922154e+06,4.648564e+06,2.252593e+05
2020,7.401563e+07,3.164413e+07,2.267413e+07,7.098310e+06,7.875816e+06,4.494206e+06,2.290484e+05

In [209]:
# df_secteurs_total.plot()

---
# Exportation de la nouvelle dataframe:

In [198]:
df_secteurs_total.to_excel("./fichiers_output/df_secteurs_total.xlsx",sheet_name='Emissions(t_eq_CO2) par secteur')

In [212]:
df_secteurs_total.to_csv("./fichiers_output/df_secteurs_total.csv")